.task-form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  margin: auto;
}


.task-form .add-task-button {
  width: 100%;
  padding: 15px;
  background-color: #f8f9fa;
  border: 2px dashed #dee2e6;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.task-form .add-task-button:hover {
  background-color: #e9ecef;
  border-color: #ced4da;
}

.task-form .plus-icon {
  font-size: 20px;
  font-weight: bold;
}


.task-form .title_textarea_style {
  width: 100%;
  display: flex;
  column-gap: 10px;
  
}
@media (max-width: 768px) {
  .task-form .title_textarea_style {
    flex-direction: column;
    
  }
}
.task-form .title_textarea_style .title-textarea {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (max-width: 768px) {
  .task-form .title_textarea_style .title-textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}

.task-form .date_priority_status_style {
  width: 100%;
  display: flex;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .task-form .date_priority_status_style {
    flex-direction: column;
  }
}

.task-form .date_priority_status_style .date_priority_status {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media (max-width: 768px) {
  .task-form .date_priority_status_style .date_priority_status {
    width: 100%;
    margin-bottom: 10px;
  }
}

.task-form input,
.task-form textarea {
  width: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e4e2e3;
}

.task-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e4e2e3;
}

@media (max-width: 768px) {
  .task-form input,
  .task-form textarea {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}


.task-form .button-group {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.task-form .button-group .add_btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  
}

.task-form .button-group .add_btn:hover {
  background-color: #45a049;
}

.task-form .button-group .cancel-button {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.task-form .button-group .cancel-button:hover {
  background-color: var(--secondary);
}
