.task-form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  margin: auto;
}
.task-form .title_textarea_style {
  width: 100%;
  display: flex;
  column-gap: 10px;
  
}
@media (max-width: 768px) {
  .task-form .title_textarea_style {
    flex-direction: column;
    
  }
}
.task-form .title_textarea_style .title-textarea {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (max-width: 768px) {
  .task-form .title_textarea_style .title-textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}

.task-form .date_priority_status_style {
  width: 100%;
  display: flex;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .task-form .date_priority_status_style {
    flex-direction: column;
  }
}

.task-form .date_priority_status_style .date_priority_status {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media (max-width: 768px) {
  .task-form .date_priority_status_style .date_priority_status {
    width: 100%;
    margin-bottom: 10px;
  }
}

.task-form input,
.task-form textarea {
  width: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e4e2e3;
}

.task-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e4e2e3;
}

@media (max-width: 768px) {
  .task-form input,
  .task-form textarea {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.task-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  
}

.task-form button:hover {
  background-color: #45a049;
}
